label, button {
    color: white;
    font-family: 'Raleway', sans-serif;
}

input {
    font-family: 'Raleway', sans-serif;  
}

span {
    color: red;
}

.login-box {
    background-color: rgb(50, 50, 50);
    width: 30%;
    margin-top: 10%;
    padding: 50px;
    border-radius: 20px;
    input {
        border: none;
        border-radius: 10px;
        padding-left: 5px;
        width: 20vw;
    }
}