<div class="row continer-fluid">
    <!-- Unread icon -->
    <div id="unread-icon">
        <i class="fa fa-circle"></i>
    </div>
    
    <!-- Email  -->
    <div class="col">
        <!-- Name of sender and time -->
        <h4 class="text">
            First Last
            <h6 id="time">9:41 am</h6>
        </h4>
        
        <!-- Subject title and content -->
        <h3 class="text">You Have Mail!</h3>
        <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae nesciunt omnis iste voluptatum dignissimos magni quasi officiis. Maiores, tempora dignissimos delectus fugit aliquam fugiat! Id necessitatibus officia eligendi repellat vero.</p>
    </div>
</div>