#time {
    text-align: right;
    margin-top: -25px;
    padding-right: 20px;
    font-family: 'Raleway', sans-serif;
}

.text {
    color: white;
    font-family: 'Raleway', sans-serif;
}

#unread-icon {
    padding-top: 33px;
}

i {
    color: rgb(100, 100, 255);
}